.header {
  position: fixed;
  padding-bottom: 5px;
  z-index: 2;
  width: 100vw;
  background-color: aqua 
}

.main-title {
  display: flex;
  justify-content: center;
}

.score {
  position: absolute;
  top: 27px;
  right: 5px;
}

.reset-button {
  margin: 0;
  position: absolute;
  top: 25px;
}

.high-score {
  position: absolute;
  top: 60px;
  right: 0;
  font-size: 1em;
}