.stickey-header {
  padding-top: 85px; 
}

.main-page {
  background-color: #ededed;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}