@font-face {
  font-family: 'chalkBoard-font';
  src: url('../fonts/font/chalkBoard.ttf')
}

.splash-page {
  background: url('../pics/chalkBoard.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.splash-title {
  color: #fff;
  font-size: 4em;
  font-family: 'chalkBoard-font'
}

.app-description {
  border: 2px solid black;
  border-radius: 25px;
  padding: 10px;
  background-color: lightblue;
  text-align: center;
}

.splash-button {
  padding: 5px;
  background-color: #3dcfcf;
  margin-top: 15px;
  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: darkblue;
  }
}

.switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 20px;
  border: 1px solid grey;
  border-radius: 40px;
  background-color: #fff;
}

.radios {
  height: 50px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  appearance: none;
  background-color: #3dcfcf;
  border: 1px solid black;
  border-radius: 30px;

  &:checked {
    background-color: darkblue;
    transition: 1s;
    color: #fff;
  }

  &::after {
    content: attr(id);
  }
}

.libbys-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -150px;
}